{% extends "base.html.twig" %}

{% block content %}
    <div class="columns">
        <div class="column is-one-fifth">
            {% include "inventory/partials/_inventory_menu.html.twig" %}
        </div>

        <div class="column">
            {% block inventory_content %}
            {% endblock inventory_content %}
        </div>
    </div>

{% endblock content %}