{% extends 'inventory/base_inventory.html.twig' %}

{% block title %}Hello InventoryController!{% endblock %}

{% block inventory_content %}
    <h1>Inventory Content</h1>
    <a class="button is-primary" href="{{ path('inventory.category.new') }}">New Category</a>
{% endblock inventory_content %}
