{% extends 'inventory/base_inventory.html.twig' %}

{% block title %}Hello InventoryController!{% endblock %}

{% block inventory_content %}
    <h1>Inventory Content</h1>
{% endblock inventory_content %}
