{% extends "inventory/base_inventory.html.twig" %}

 {% block inventory_content %}
    <div>
      {{ form_start(form) }}
        <div class="field">
            {{ form_label(form.name, 'Name' ,{'label_attr': {'class': 'label'}}) }}
            <div class="control">
                {{ form_widget(form.name, {'attr': {'class': 'input'}}) }}
            </div>
        </div>

        <button class="button is-primary" type="submit">Create</button>
      {{ form_end(form) }}
    </div>
 {% endblock inventory_content %}
