<aside class="menu">
    <p class="menu-label">
        Categories
    </p>
    <ul class="menu-list">
        {% for category in categories %}
            <li>
                <a href="{{ path('inventory.category.show', {slug: category.slug}) }}" class="is-flex is-justify-content-space-between">
                    {{ category.name }}
                    <span class="tag is-dark">
                        {{ category.getProductsCount() }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</aside>