{% extends "base.html.twig" %}

{% block content %}
    <div class="columns">
        <div class="column is-one-fifth">
            {% include "inventories/partials/_inventory_menu.html.twig" %}
        </div>

        <div class="column">
            {% block inventories_content %}
            {% endblock inventories_content %}
        </div>
    </div>

{% endblock content %}