{% extends 'inventories/base_inventories.html.twig' %}

{% block title %}Hello InventoryController!{% endblock %}

{% block inventories_content %}
    <h1>Inventory Content</h1>
    <a class="button is-primary" href="{{ path('inventories.new') }}">New Inventory</a>
{% endblock inventories_content %}
